Jungo*.zip
Jungo*gz
tags
cscope.*
*.caffemodel
*.cfg
*.class
*.d
*.dll
*.diff
*.o
*.obj
*.hdf5
*.idea
*.iml
*.obb
*.pyc
*.sdf
*.so
*.solverstate
*.suo
*.user
*.VC*
.*.sw?
.*build*/
build/
.cxx
docs/html/
.externalNativeBuild/
.gradle/
.idea/
jniLibs/
libs/
obj/
__pycache__/
x64/
Debug/
Release/
release/
local.properties
flags_help.md
caffe_wrapper_sample
camera_calibration
codriver.dat
codriver_demo
codriver_demo_gpu
codriver_sample
codriver_sample_gpu
codriver_sample_multi_cam
codriver_sample_multi_cam_gpu
db_utils
dlibhogtrain
DlibHogTrain
dnn_test
gaze_gbrt_sample
jcapture
jplayer
json2yml
makelic
magia_touch_sample
merge_landmarks
model_data.pb.*
opencv_vid_fix
outputs
pts2yml
recognition_manager
runtests
sensors_player
sensors_recorder
sessions_outputs
sha
tag2db
tagging_utils
test.xml
tf_wrapper_sample
unittest
video_export
videoexport
videomark
video_stream_server
video_test
videotest
weights
